.HeaderItem {
    margin-left: 4em;
}

.HeaderItem a {
    text-decoration: none;
    color: black;
    white-space: nowrap;
}

@media screen and (max-width: 992px) {
    .HeaderItem {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0.5em;
    }
}