* {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans';
}

.HeaderContainer {
    background: white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.16);
}

.Header {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 1em 0;
    max-width: 90%;
    margin: 0 auto;
}

.Header div:first-child {
    margin-right: auto;
}

.HeaderLinks {
    display: flex;
    align-items: center;
}

.AdminHeaderContainer {
    background: white;
    position: fixed;
}

.AdminHeader {
    display: flex;
    list-style-type: none;
    padding: 1em 0;
    margin: auto;
}

.AdminHeader div:first-child {
    margin-right: 1em;
}

.AdminHeader h1 {
    font-size: 26px;
    line-height: 1;
}

@media screen and (max-width: 992px) {
    .Header {
        flex-wrap: wrap;
    }
    .Header>div:first-child {
        flex: 0 0 100%;
        text-align: center;
    }
    .HeaderLinks {
        flex-wrap: wrap;
        overflow: auto;
        margin-top: 0.5em;
        justify-content: center;
    }
}