.LoadingDots {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LoadingDots>div:first-child {}

.LoadingDots h1 {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

@keyframes dot-keyframes {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-12px);
    }
    100% {
        transform: translateY(0);
    }
}

.LoadingDots div {
    width: 16px;
    height: 16px;
    border-radius: 16px;
    margin: 0 0.3em;
}

.dot1 {
    animation: dot-keyframes 1s infinite ease-in-out;
    background: #64DD17;
}

.dot2 {
    animation: dot-keyframes 1s infinite ease-in-out;
    background: #ffe019;
    animation-delay: 0.2s;
}

.dot3 {
    animation: dot-keyframes 1s infinite ease-in-out;
    background: #F57C00;
    animation-delay: 0.4s;
}

.dot4 {
    animation: dot-keyframes 1s infinite ease-in-out;
    background: #F44336;
    animation-delay: 0.6s;
}