.LoginForm {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    background: white;
    padding: 2em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
}

.LoginInput {
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 8px;
    border: 1px solid grey;
    outline: none;
}

.LoginSubmit {
    background: #304FFE;
    border: 0;
    box-shadow: none;
    outline: none;
    padding: 1em;
    color: white;
    border-radius: 8px;
}

.LoginSubmit:disabled {
    background: #78909C;
    color: #ccc;
}