.Meal {
    display: flex;
    margin-bottom: 1.6em;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.MealTitle {
    margin-right: auto;
    font-weight: bold;
}