.Sidebar {
    position: fixed;
    width: 5vw;
    background: white;   
    padding: 2em;
    box-sizing: border-box;
}

.SidebarList {
    list-style: none;
    margin-top: 8em;
}
.SidebarList li {
    margin-bottom: 0.5em;
}
.SidebarList li:nth-child(3) {
    margin-bottom: 3em  ;
}