.Statistics {
    padding: 0 1em;
    background: white;
    border-radius: 8px;
}

.TimePicker {
    display: flex;
    margin-bottom: 1em;
}

.TimePicker p {
    margin-right: 1em;
}

.StatGrid {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    
}

.StatLabels {
    font-size: 1.2em;
    margin-bottom: 1em;
    margin-top: 1em;
}

.StatLeftColumn, .StatRightColumn {
    flex: 1;
    margin-bottom: 2em;
}

.StatName {
    margin-bottom: 1em;
}

.StatSeparator {
    display: none;
    opacity: 0.4;
}

@media screen and (max-width: 992px) {
    .StatGrid {
        flex-direction: column;
        min-height: 0;
        height: auto;
    }
    .StatLeftColumn {
        margin-bottom: 1.2em;
    }
    .StatSeparator {
        display: initial;
    }
}