.Statistics {
    padding: 1em;
    background: white;
}

.TimePicker {
    display: flex;
    margin-bottom: 1em;
}

.TimePicker p {
    margin-right: 1em;
}

.StatGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 1em;
}

.StatLeftColumn, .StatRightColumn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}