.Statistics {
    padding: 1em;
    background: white;
    border-radius: 8px;
}

.TimePicker {
    display: flex;
    margin-bottom: 1em;
}

.TimePicker p {
    margin-right: 1em;
}

.StatGrid {
    display: flex;
    flex-direction: row;
    margin-top: 1em;
    
}

.StatLeftColumn, .StatRightColumn {
    flex: 1;
}

.StatName {
    margin-bottom: 1em;
}

@media screen and (max-width: 992px) {
    .StatGrid {
        flex-direction: column;
        min-height: 0;
        height: auto;
    }
    .StatLeftColumn, .StatRightColumn {
        margin-top: 2em;
    }
}