.TodayGrid {
    display: flex;
    flex-direction: column;
}

.LeftColumn {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 1em;
    box-sizing: border-box;
}

.RightColumn {
    margin-top: 1em;
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.08), 0 1px 2px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    padding: 0.5em;
    min-height: 45vh;
}

@media screen and (min-width: 992px) {
    .TodayGrid {
        flex-direction: row;
        min-height: 70vh;
        justify-content: space-between;
    }
    .LeftColumn, .RightColumn {
        flex: 1;
        margin-top: 0;
    }
    .RightColumn {
        margin-left: 1em;
        height: initial;
        margin-bottom: 0;
        padding: 2em 2em 2em 3em;
    }
}